<!-- Main content -->
<div class="col-md-12 order-md-1">
  <h4 class="mb-3"><strong>Place Order</strong></h4>
  <form #frmItems="ngForm" (ngSubmit)="addOrder()" class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-2">
        <label for="countrys">Customer Name</label>
        <select (change)="searchCustomer($event)" class="custom-select d-block w-100" id="countrys" required>
          <option value="">Choose...</option>
          <option *ngFor="let customer of customers">{{customer.id}}</option>
        </select>
      </div>


      <div class="col-md-3 mb-3">
        <label for="customerName">Customer Name</label>
        <input type="text" class="form-control" id="customerName" placeholder="" name="name"
               [(ngModel)]="serchedCustomers.name" required>

      </div>

      <div class="col-md-2 ">
        <label for="orderid">Order ID</label>
        <input #orderid type="text" class="form-control" id="orderid" placeholder="Order Date" value=" " required>

      </div>

      <div class="col-md-2 offset">
        <label for="orderDate">Order Date</label>
        <input #orderDate type="text" class="form-control" id="orderDate" placeholder="Order Date" value=" " required>

      </div>
    </div>

    <div class="row">


    </div>

    <form #frmItem="ngForm">


      <div class="row">


        <div class="col-md-2 mb-3">
          <label for="code">Item Code</label>
          <select (change)="searchItems($event)" class="custom-select d-block w-100" id="code" name="code" required>
            <option value="">Choose...</option>
            <option *ngFor="let item of items">{{item.code}}</option>
          </select>
        </div>

        <div class="col-md-3 mb-3">
          <label for="Discription">Item Discription</label>
          <input type="text" class="form-control" id="Discription" placeholder="" name="code"
                 [(ngModel)]="serchedItems.discription" required>

        </div>

        <div class="col-md-2 mb-3">
          <label for="unicprice">Unic Price</label>
          <input type="text" class="form-control" id="unicprice" placeholder="" name="unicPrice"
                 [(ngModel)]="serchedItems.unicPrice" required>

        </div>


        <div class="col-md-2 mb-3">
          <label for="Qty On Hand">Qty On Hand</label>
          <input type="text" class="form-control" id="Qty On Hand" placeholder="" name="qtyonhand"
                 [(ngModel)]="serchedItems.qtyOnHand" required>


        </div>
        <div class="col-md-1 mb-3">
          <div class="row">
            <label for="qty">QTY</label>
            <input #qty type="text" class="form-control" id="qty" placeholder="" name="qty" required>



          </div>

        </div>
        <div class="card-body button">
          <button class="btn btn-primary " (click)="SelectOrderDetails()">Add</button>
        </div>
     </div>






    </form>

    <div class="col-md-12 col-12">
      <table id="tblCustomers" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Item Name</th>
          <th>Discrrption</th>
          <th>Unic Price</th>
          <th>qty</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let SelectItem of selectedItems">
          <td>{{SelectItem.item.code}}</td>
          <td>{{SelectItem.item.discription}}</td>
          <td>{{SelectItem.item.unicPrice}}</td>
          <td>{{SelectItem.quantity}}</td>
          <td>
            <i class="fa fa-trash fa-2x"></i>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>

        </tr>
        </tfoot>
      </table>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-3"></div>
      <div class="col-md-3 offset-md-3">
        <label for="total"><h3>Total</h3></label>
        <input type="text" class="form-control" id="total" placeholder="" name="total" value="{{FullTotal}}" required>
      </div>
    </div>




    <div class="card-footer text-muted">
      <hr class="mb-4">
      <button class="btn btn-success btn-lg btn-block" type="submit"> Place Order</button>
    </div>
  </form>
</div>






