  <!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Manage Items</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage Items</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12">

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Items Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col col-12">
                <form #frmItems="ngForm" (ngSubmit)="saveItems()">
                  <p class="form-group">
                    <label for="txtId">Item Code</label>
                    <input [disabled]="manuallySelected" name="txtCode" [(ngModel)]="selectedItems.code" id="txtId"
                           class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtDiscription">Discriptione</label>
                    <input name="txtDiscription" [(ngModel)]="selectedItems.discription" id="txtDiscription" class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtunicPrice">Unic Price</label>
                    <input name="txtunicPrice" [(ngModel)]="selectedItems.unicPrice" id="txtunicPrice"
                           class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtQtyOnHand">QtyOnHand</label>
                    <input name="txtQtyOnHand" [(ngModel)]="selectedItems.qtyOnHand" id="txtQtyOnHand"
                           class="form-control">
                  </p>
                  <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button (click)="clear()" type="button" class="btn btn-warning">Clear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <div class="col-md-6 col-12">
        <table id="tblItems" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Code</th>
            <th>discription</th>
            <th>Unic Price</th>
            <th>QtyOnHand</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items | paginate: { itemsPerPage: 7, currentPage: p }" (click)="selectItems(item)"
              [class.selected]="item==selectedItems">
            <td>{{item.code}}</td>
            <td>{{item.discription}}</td>
            <td>{{item.qtyOnHand}}</td>
            <td>{{item.unicPrice}}</td>

            <td>
              <i (click)="deletItems(item)" class="fa fa-trash fa-2x"></i>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

