#tblCustomers tbody{
  background-color: white;
}

#tblItems tr{
  cursor: pointer;
}

#tblItems tr th:first-child, #tblCustomers tr td:first-child{
  text-align: center;
}

#tblItems tr td:last-child{
  text-align: center;
}

#tblItems tr td:last-child:hover{
  color: red;
}

.selected{
  background-color: lightgray;
}
